<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span>
    </button>
    <strong>{{t 'tools.prefix'}}</strong> {{t 'tools.account.desc'}}
</div>

<div class="panel panel-default ">
    <div class="panel-body">
        <form class="form-horizontal">
            <div id="jspdf">

                <fieldset>
                    <!--base-->
                    <div class="title">
                        <label>{{t 'tools.account.base.title'}}</label>
                    </div>

                    <div class="form-group">
                        <label for="name"
                               class="col-xs-6 col-sm-2 control-label">{{t 'tools.account.base.name'}}</label>

                        <div class="col-xs-12 col-sm-10">
                          {{input type="text" class="form-control" id="name" placeholder=(t 'tools.account.base.name_placeholder') value=name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telephone"
                               class="col-sm-2 control-label">{{t 'tools.account.base.telephone'}}</label>

                        <div class="col-sm-10">
                          {{input type="text" class="form-control" id="telephone" placeholder=(t 'tools.account.base.telephone_placeholder') value=telephone}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{t 'tools.account.base.setting.title'}}</label>

                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">1</span>
                              {{view "select" class="form-control" id="settingPinyin" aria-describedby="basic-addon1"
                              content=optionsPinyin.all
                              optionValuePath="content.id"
                              optionLabelPath="content.name"
                              value=optionsPinyin.selected}}
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2">2</span>
                              {{view "select" class="form-control" id="settingLetter" aria-describedby="basic-addon2"
                              content=optionsLetter.all
                              optionValuePath="content.id"
                              optionLabelPath="content.name"
                              value=optionsLetter.selected}}
                            </div>

                        </div>

                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon3">3</span>
                              {{view "select" class="form-control" id="settingDigital" aria-describedby="basic-addon3"
                              content=optionsDigital.all
                              optionValuePath="content.id"
                              optionLabelPath="content.name"
                              value=optionsDigital.selected}}
                            </div>

                        </div>

                    </div>
                </fieldset>

                <fieldset class="account">
                    <div class="title">
                        <label>{{t 'tools.account.operation.title'}}</label>
                    </div>

                    <!--1. email-->
                    <div class="step">
                        <label>{{t 'tools.account.operation.first'}}</label>
                      {{t 'tools.account.operation.first_desc'}}
                    </div>

                    <div class="form-group">
                        <label for="email_account"
                               class="col-xs-4 col-sm-2 control-label">{{t 'tools.account.email.account'}}</label>

                        <div class="col-xs-6 col-sm-4 email">
                            <input type="text" class="form-control" id="email_account" {{bind-attr value=emailAccount}}>
                        </div>

                        <div class="col-xs-6 col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                              {{view "select" class="form-control" id="email_host" content=optionsHost.all selection=optionsHost.selected}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email_password"
                               class="col-sm-2 control-label">{{t 'tools.account.email.password'}}</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   id="email_password"  {{bind-attr value=emailPassword}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email_url" class="col-sm-2 control-label">{{t 'tools.account.email.url'}}</label>

                        <div class="col-sm-10">
                            <a class="btn btn-default .btn-sm" role="button"
                               href="http://reg.email.163.com/unireg/call.do?cmd=register.entrance&from=163mail_right"
                               target="_blank">
                              {{t 'tools.account.click_here'}}
                            </a>
                        </div>
                    </div>

                    <!--2. onecoin.eu -->
                    <div class="step">
                        <label>{{t 'tools.account.operation.second'}}</label>
                      {{t 'tools.account.operation.second_desc'}}
                    </div>

                    <div class="form-group">
                        <label for="onecoin_account"
                               class="col-sm-2 control-label">{{t 'tools.account.onecoin.account'}}</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   id="onecoin_account" {{bind-attr value=onecoinAccount}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="onecoin_password"
                               class="col-sm-2 control-label">{{t 'tools.account.onecoin.password'}}</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   id="onecoin_password" {{bind-attr value=onecoinPassword}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="onecoin_url"
                               class="col-xs-4 col-sm-2 control-label">{{t 'tools.account.onecoin.url'}}</label>

                        <div class="col-xs-6 col-sm-4 signup">
                            <input type="text" class="form-control" value="http://onecoin.eu/signup"
                                   id="onecoin_password"
                                   disabled>
                        </div>

                        <div class="col-xs-8 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">/</span>
                              {{input type="text" class="form-control" id="sponsor" placeholder=(t 'tools.account.onecoin.sponsor') value=sponsor disabled=isNoSponsor}}

                                <span class="input-group-addon">
                                {{input type="checkbox" name="isNoSponsor" checked=isNoSponsor}}没有推荐人
                            </span>
                                <!-- /btn-group -->
                            </div>
                        </div>

                        <div class="col-sm-2">
                          {{#if isShowing }}
                              <a {{bind-attr href=onecoinSignupUrl}} target="_blank" class="btn btn-default .btn-sm"
                                                                     role="button">{{clickNoSponsor}}
                              </a>
                          {{/if}}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-1">
                        </div>

                        <div class="col-sm-11">
                            <div class="alert alert-danger" role="alert">
                              {{ t 'tools.account.note.verify_email' }}
                            </div>
                        </div>
                    </div>


                    <!--3. onepay-->
                    <div class="step">
                        <label>{{t 'tools.account.operation.third'}}</label>
                      {{t 'tools.account.operation.third_desc'}}
                    </div>

                    <div class="form-group">
                        <label for="onepay_account"
                               class="col-sm-2 control-label">{{t 'tools.account.onepay.account'}}</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   id="onepay_account" {{bind-attr value=onepayAccount}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="onepay_password"
                               class="col-sm-2 control-label">{{t 'tools.account.onepay.password'}}</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   id="onepay_password"  {{bind-attr value=onepayPassword}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="onepay_url" class="col-sm-2 control-label">{{t 'tools.account.onepay.url'}}</label>

                        <div class="col-sm-10">
                            <p class="form-control-static">
                                <a href="https://wallet.onepay.eu/wallet/index.php/account/register" target="_blank">https://wallet.onepay.eu</a>
                            </p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-1">
                        </div>

                        <div class="col-sm-11">
                            <div class="alert alert-danger" role="alert">{{ t 'tools.account.note.exchange_password' }}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <iframe id="preview-pane"></iframe>

            <div class="form-group">
                <div class="col-sm-6">
                    <button class="btn btn-primary" {{action 'preview'}}>
                      {{t 'tools.account.preview'}}
                    </button>
                </div>

                <div class="col-sm-6">
                    <button class="btn btn-primary" {{action 'download'}}>
                      {{t 'tools.account.download'}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
