<div class="col-md-9">
  {{#em-tabs}}
    {{#em-tab-list}}
      {{#em-tab}}{{t 'tools.account.title'}}{{/em-tab}}
      {{#em-tab}}{{t 'tools.caculator.title'}}{{/em-tab}}
      {{#em-tab}}{{t 'tools.simulation.title'}}{{/em-tab}}
      {{#em-tab}}{{t 'tools.promote.title'}}{{/em-tab}}
    {{/em-tab-list}}

    {{#em-tab-panel}}
      {{render 'tools/account'}}
    {{/em-tab-panel}}
    {{#em-tab-panel}}
      {{render 'tools/caculator'}}
    {{/em-tab-panel}}
    {{#em-tab-panel}}
      {{render 'tools/simulation'}}
    {{/em-tab-panel}}
    {{#em-tab-panel}}
      {{render 'tools/promote'}}
    {{/em-tab-panel}}
  {{/em-tabs}}
</div><!-- left content -->

<div class="col-md-3 right">
  {{render 'blogs/right' blog}}
</div><!-- right content -->