<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      {{#link-to 'blogs.show' blog}}【{{t blog.category}}】{{blog.title}}{{/link-to}}
    </div>
    <div class="panel-body">
        <div class="tags">
          {{#each tag in blog.cached_tags}}
            {{#link-to "blogs.index" classNames='tag'}}<span>{{tag}}</span>{{/link-to}}
          {{/each}}
        </div>
        <div id="body">
          {{{blog.body.content}}}
        </div>
    </div>

    <div class="panel-footer clearfix">
        <div class="fr">
            <span class="author">{{model.user.name}}</span>
            <span class="time">{{moment model.created_at "YYYY-MM-DD"}}发表</span>
            <span class="edit">{{moment blog.content_updated_at "YYYY-MM-DD"}}更新</span>
            <span class="views" title="浏览次数">{{blog.view_count}}次浏览</span>
            <!--{ {link-to blog.comments_count.to_s, blog_url(blog), :anchor => 'comments', :class => 'comment', :title => '评论'}}-->
        </div>
    </div>
</div>