<div class="col-md-9">
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span>
        </button>
        <strong>{{t 'container.title'}}</strong>
        {{desc}}
    </div>

    {{#each blog in pagedContent}}
        {{render 'blogs/blog' blog}}
    {{/each}}
    <div>
        {{page-numbers content=pagedContent}}
    </div>
</div><!-- left content -->

<div class="col-md-3 right">
  {{render 'blogs/right' blog}}
</div><!-- right content -->
