<h3>{{t 'sidebar.winxin.desc'}}</h3>
<div class="tag">
    <img {{bind-attr src=imageUrl alt=imageTitle}}>
</div>

<h3>{{t 'sidebar.hot_blogs'}}</h3>
<div class="hot_blog">
    {{#each blog in hot_blogs}}
      {{#link-to 'blogs.show' blog}}{{blog.title}}{{/link-to}}
    {{/each}}
</div>

<h3>{{t 'sidebar.recent_comment'}}</h3>
<ol class="comment">
    {{#each comment in comments}}
    <li>
        <div>“{{comment.brief_content}}...”</div>
      <span class="bold">{{comment.user}}</span> {{t 'sidebar.commented'}} {{#link-to "blogs.show" comment.blog}}{{comment.blog.title}}{{/link-to}}
    </li>
    {{/each}}
</ol>


