<div class="col-md-9 left">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          {{model.title}}
        </div>
        <div class="panel-body">
            <div class="tags">
              {{#each tag in model.cached_tags}}
                {{#link-to "blogs.index" classNames='tag'}}<span>{{tag}}</span>{{/link-to}}
              {{/each}}
            </div>
            <div id="body">
              {{{model.body.content}}}
            </div>
        </div>

        <div class="panel-footer clearfix">
            <div class="fr">
                <span class="author">{{model.user.name}}</span>
                <span class="time">{{moment model.created_at "YYYY-MM-DD"}}发表</span>
                <span class="edit">{{moment model.content_updated_at "YYYY-MM-DD"}}更新</span>
                <span class="views" title="浏览次数">{{model.view_count}}次浏览</span>

            </div>
        </div>
    </div>

    <div class="comment clearfix">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">
                        <h4><span>{{model.comments_count}}</span>条评论</h4>
                    </div>

                  {{#if model.commentable}}
                      <div class="col-md-2 fr">
                          <a id="publish_comment" class="btn btn-primary" {{action "scrollTo" "#add_comment"}}>发表评论</a>
                      </div>
                  {{/if}}
                </div>
            </div>

          {{outlet}}

            <a id="add_comment"></a>

          {{#if can_comment}}
              <form {{action 'add_comment' on='submit'}}>
                {{#if hasError }}
                    <div class="alert alert-warning">
                      {{errorMessage.error}}
                    </div>
                {{/if}}

                  <div class="form-group row">
                      <div class="col-sm-offset-1 col-sm-10">
                          <label for="comment-body" class="control-label">{{t 'blogs.comment.title'}}</label>
                        {{textarea id='comment-body' class="form-control comment-body" placeholder=(t 'blogs.comment.placeholder') value=body}}
                      </div>
                  </div>

                  <div class="form-group row">
                      <div class="col-sm-offset-1 col-sm-10">
                          <button id="submit" type="submit" class="btn btn-default">{{t 'button.submit'}}</button>
                      </div>
                  </div>
              </form>
              <!-- form -->
            {{else}}
              <div class="col-sm-offset-2 col-sm-10 margin-box">
                  您还没有登录，
                {{#link-to 'login'}}
                  {{t 'login.title'}}
                {{/link-to}}
                后，才可以添加评论。
                {{#link-to 'signup'}}
                  {{t 'signup.link_to'}}
                {{/link-to}}
              </div>
          {{/if}}

        </div>
    </div>
    <!-- comment -->
</div><!-- left content -->

<div class="col-md-3 right">
  {{render 'blogs/right'}}
</div><!-- right content -->
