<div class="col-md-9 left">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          {{title}}
        </div>
        <div class="panel-body">
            <div class="tags">
              {{#each tag in cached_tags}}
                {{#link-to "blogs.index" classNames='tag'}}<span>{{tag}}</span>{{/link-to}}
              {{/each}}
            </div>
            <div id="body">
              {{{body.content}}}
            </div>
        </div>

        <div class="panel-footer clearfix">
            <div class="fr">
                <span class="author">{{user.name}}</span>
                <span class="time">{{moment created_at "YYYY-MM-DD"}}发表</span>
                <span class="edit">{{moment content_updated_at "YYYY-MM-DD"}}更新</span>
                <span class="views" title="浏览次数">{{view_count}}次浏览</span>
                <!--{ {link-to blog.comments_count.to_s, blog_url(blog), :anchor => 'comments', :class => 'comment', :title => '评论'}}-->
            </div>
        </div>
    </div>

    <div class="comment clearfix">
      {{#if have_comments }}
          <div id="comments">
              <h2><span>{{comments_count}}</span>条评论</h2>
              <ul>
                {{#each item in comments}}
                  {{render 'blogs/comment' item.comment}}
                {{/each}}
              </ul>
          </div>
      {{/if}}

      {{#if commentable?}}
          <a name="comments"></a>

          <div class="relative">
              <div class="editor_switcher">
                  <ul>
                      <li class="current"><a id="publish_comment" href="#">发表评论</a></li>
                      <li><a id="preview_comment" href="#">预览评论</a></li>
                  </ul>
              </div>
              <!--<% form_for BlogComment.new, url(:blog, :create_comment, :id => @blog.id), :remote => true do |f| %>-->
              <!--<%= f.text_area :content, :class => 'comment' %>-->
              <!--<div id="comment-error-info"></div>-->
              <!--<div id="comment_preview" class="con comment"></div>-->
              <!--<%= f.submit '', :class => 'comment_btn' %>-->
              <!--<% end %>-->
              <!--<div class="box" style="<%= "display:none;" if account_login? %>">-->
              <!--<button class="close"></button>-->
              <!--<p>我想知道与谁交流思想，请用微博登录留言。</p>-->
              <!--<button class="sina_btn"></button>-->
              <!--</div>-->
              <!-- box -->
          </div>
          <!-- relative -->
      {{/if}}

    </div>
    <!-- comment -->
</div><!-- left content -->

<div class="col-md-3 right">
  {{render 'blogs/right'}}
</div><!-- right content -->
