<div id="flash_text">
    <div class="container">
        <div class="col-sm-6 col-md-offset-3">
            <div class="btn-group" data-toggle="buttons">
                <div class="btn btn-default" id="clock"></div>

                <button type="button" class="btn btn-primary" id="btn-reset" {{action "refresh"  target="view"}}>
                    <i class="glyphicon glyphicon-repeat"></i>
                  {{t "onecoiner.refresh"}}
                </button>
                <label class="btn btn-default" id="btn-pause" {{action "pause"  target="view"}}>
                    <input type="radio" name="options" id="option2" autocomplete="off">
                    <i class="glyphicon glyphicon-pause"></i>
                  {{t "onecoiner.pause"}}
                </label>

                <label class="btn btn-default active" id="btn-resume" {{action "resume"  target="view"}}>
                    <input type="radio" name="options" id="option2" autocomplete="off" checked="">
                    <i class="glyphicon glyphicon-play"></i>
                  {{t "onecoiner.resume"}}
                </label>
            </div>
            <h3 class="joinedPeople">{{t "onecoiner.already_joined"}}</h3>
        </div>

        <div class="col-sm-8 col-md-offset-3" id="joinedPeople">
            <ul class="flip-counter default" id="counter"></ul>

            <div class="clear"></div>

            <p class="numPeopleText"></p>
        </div>
    </div>
</div>