{{#modal-dialog action="closeMe"}}
    <h3 class="flush--top">{{t 'logout.confirm'}}</h3>
    <button {{action "logout"}}>{{t 'logout.done'}}</button>
    <button {{action "closeMe"}}>{{t 'logout.cancel'}}</button>
{{/modal-dialog}}