<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header header">
            <button type="button" class="navbar-toggle" {{action "toggle"}}>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="wrap">
                <div class="user_img"><img src="/assets/images/logo.png" height="80" alt="website icon"></div>
                <div class="blog_title">ONECOIN.IM</div>
                <div class="write">
                    登录
                </div>
                <div class="blog_motto">维卡币操盘手:追踪最新动态，分享投资技巧，提供操盘工具</div>
            </div>
        </div>
    </div>
</nav>
<!-- /.header -->

<div class="menu" id="menu">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="frontMenu">
                <li><a href="/" class="scroll-item">{{t 'home.title'}}</a></li>

              {{#each item in categories}}
                {{#if item.is_menu}}
                    <li>{{#link-to 'blogs.index' (query-params category=item.name) }}
                      {{t item.name }}
                    {{/link-to}}
                    </li>
                {{/if}}
              {{/each}}

                <li><a href="/tools">{{t 'home.tools'}}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      {{t 'official.title'}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/pages/opportunity">{{t 'official.opportunity'}}</a></li>
                        <li><a href="/pages/products">{{t 'official.products'}}</a></li>
                        <li class="divider"></li>
                        <li><a href="/pages/contact">{{t 'official.contact'}}</a></li>
                        <li><a href="/pages/about">{{t 'official.about'}}</a></li>
                        <li class="divider"></li>
                        <li><a href="http://onecoin.eu/">{{t 'official.home'}}</a></li>
                    </ul>
                </li>

                <li><a href="/about">{{t 'about'}}</a></li>
            </ul>

            <!-- /.navbar-collapse -->
        </div>
    </div>
</div>
